### Q1. Create a list of five integers and print it.

In [2]:
l =[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [3]:
len(l)

5

### Q3. Create a tuple with three elements and print the second item.

In [5]:
t=(1,2,3)
t[1]

2

In [7]:
len("Hello")

5

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [8]:
d={'fname':'Abdo','age':23,'city':'cairo'}
d.keys()

dict_keys(['fname', 'age', 'city'])

### Q5. Write a program to convert a list into a set.

In [10]:
s=set(l)
s

{1, 2, 3, 4, 5}

### Q6. Create a string and print its first and last characters.

In [12]:
st='Abdo Ahmed'
print(st[0])
print(st[-1])

A
d

### Q7. Take input from the user and print it.

In [14]:
x = input('Enter Number')
x

'6'

### Q8. Write a program to add two numbers entered by the user.

#### - help

In [17]:
n1=int(input())
n2=int(input())
z=n1+n2
z

11

### Q9. Use `type()` function to check the data type of a variable.

In [19]:
print(type(z))
print(type(s))

<class 'int'>
<class 'set'>

### Q10. Create a boolean variable and print it.

In [21]:
b = True
print(type(b))

<class 'bool'>

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [24]:
n=int(input())
if n>0:
    print('positive') 
elif n<0:
    print('negative')
else:
    print('zero')

zero

### Q12. Write a program to check if a number is even or odd.

In [26]:
n=int(input())
if n%2==0:
    print('Even') 
else:
    print('Odd')

Even

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [28]:
for i in range(3):
    print('Abdo')

Abdo
Abdo
Abdo

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [29]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [1]:
l = [1, 2, 3, 4, 5]
for i in l:
    print(i)

1
2
3
4
5

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [2]:
s=1
for i in range(1, 101):
    s += i
print(s)

5051

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [3]:
for i in range(1, 20):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18

### Q18. Write a `for` loop to print each character in a string.

In [6]:
for i in 'Abdo Ahmed':
    print(i)

A
b
d
o

A
h
m
e
d

### Q19. Use a `for` loop to print all values in a dictionary.

In [7]:
d={'fname':'Abdo','age':23,'city':'cairo'}
for value in d.values():
    print(value)

Abdo
23
cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [9]:
f=1
n=int(input())
for i in range(1, n+1):
    f *= i
print(f)

120

### Q21. Create a list of your 5 favorite fruits.

In [10]:
l=['orange', 'apple', 'banana','wotermelon','mango']

### Q22. Add a new fruit to your list of favorite fruits.

In [11]:
l.append('strawberry')

### Q23. Remove the second item from a list.

In [12]:
l.remove('apple')

### Q24. Sort a list of numbers in descending order.

In [14]:
l.sort(reverse=True )
l

['wotermelon', 'strawberry', 'orange', 'mango', 'banana']

### Q25. Find the maximum and minimum values in a list.

In [16]:
l=[1,2,3,4,5]
print(max(l), min(l))

5 1

### Q26. Count how many times a value appears in a list.

In [17]:
l=[1,2,3,4,3,5]
l.count(3  )

2

### Q27. Check if a specific value exists in a list.

In [18]:
2 in l

True

### Q28. Reverse a list without using reverse() function.

In [20]:
l=[1,2,3,4,5]
l[::-1]

[5, 4, 3, 2, 1]

### Q29. Make a copy of a list and modify the copy only.

In [22]:
l1=l.copy()
l1
l1.append(6)
l1

[1, 2, 3, 4, 5, 6]

### Q30. Use slicing to get the first 3 items of a list.

In [24]:
l=[1,2,3,4,5]
l[0:3]

[1, 2, 3]

### Q31. Create a tuple with 4 elements and print its length.

In [25]:
t=(1,2,3,4)
print(len(t))

4

### Q32. Access the last element of a tuple.

In [26]:
t[-1]

4

### Q33. Convert a tuple into a list.

In [29]:
l=list(t)
l

[1, 2, 3, 4]

### Q34. Convert a list into a tuple.

In [31]:
t=tuple(l)
t

(1, 2, 3, 4)

### Q35. Check if a value exists in a tuple.

In [33]:
5 in t

False

### Q36. Concatenate two tuples.

In [36]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6)

### Q37. Repeat a tuple 3 times.

In [39]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Q38. Find the index of an element in a tuple.

In [40]:
t1.index(2)

1

### Q39. Use tuple unpacking to assign values to variables.

In [42]:
n1,n2,n3 = t1
print(n1, n2, n3)

1 2 3

### Q40. Create a nested list and access an inner element.

In [44]:
l=[[1,2,3],[4,5,6]]
l[1][1]

5

### Q41. Create a set of 5 unique colors.

In [55]:
s={'red', 'green', 'blue', 'yellow', 'orange'}
s

{'blue', 'green', 'orange', 'red', 'yellow'}

### Q42. Add a new color to the set.

In [56]:
s.add('purple')
s

{'blue', 'green', 'orange', 'purple', 'red', 'yellow'}

### Q43. Remove an item from the set using `remove()`.

In [57]:
s.remove('yellow')
s

{'blue', 'green', 'orange', 'purple', 'red'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [58]:
s.discard('yellow')
s

{'blue', 'green', 'orange', 'purple', 'red'}

### Q45. Create a set from a list with duplicate values.

In [61]:
l=[1,2,3,4,1,5,5]
s=set(l)
print(s)

{1, 2, 3, 4, 5}

### Q46. Find the union of two sets.

In [62]:
s1={'red', 'green', 'blue'}
s2={'yellow', 'orange', 'blue'}
s1.union(s2)

{'blue', 'green', 'orange', 'red', 'yellow'}

### Q47. Find the intersection of two sets.

In [63]:
s1.intersection(s2)

{'blue'}

### Q48. Find the difference between two sets.

In [64]:
s1.difference(s2)

{'green', 'red'}

### Q49. Check if a set is a subset of another set.

In [65]:
s1.issubset(s2)

False

### Q50. Check if two sets are disjoint.

In [67]:
s1.isdisjoint(s2)

False

### Q51. Create a dictionary with 3 items: name, age, and city.

In [76]:
d={'fname':'Abdo','age':23,'city':'cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [77]:
d['lname'] = 'Ahmed'
d

{'fname': 'Abdo', 'age': 23, 'city': 'cairo', 'lname': 'Ahmed'}

### Q53. Update the value of an existing key in the dictionary.

In [78]:
d['fname']='ABDO'

### Q54. Remove a key from the dictionary using `pop()`.

In [79]:
d.pop('lname');
d

{'fname': 'ABDO', 'age': 23, 'city': 'cairo'}

### Q55. Check if a key exists in the dictionary.

In [80]:
'age' in d

True

### Q56. Loop through a dictionary and print all keys and values.

In [81]:
for key,value in zip(d.keys(), d.values()):
    print(key,value)

fname ABDO
age 23
city cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [83]:
d.keys()

dict_keys(['fname', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [84]:
d.values()

dict_values(['ABDO', 23, 'cairo'])

### Q59. Get all key-value pairs using `items()`.

In [85]:
d.items()

dict_items([('fname', 'ABDO'), ('age', 23), ('city', 'cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [86]:
key=['fname', 'age', 'city']
value=['Abdo', 23, 'cairo']
d=dict(zip(key, value))
d

{'fname': 'Abdo', 'age': 23, 'city': 'cairo'}